{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Course: {{ entity }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Num of classes</th>
                <td>{{ entity.numOfClasses }}</td>
            </tr>
            <tr>
                <th>Num of classes left</th>
                <td>{{ entity.numOfClassesLeft }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <ul><h3>Class list:</h3>
        {% for class in classes %}
            <li>{{ class.date|date("d-m-Y") }}{{ " " }}{{ class.subject }}</li>
        {% endfor %}
    </ul>

    <ul><h3>Student list:</h3>
        {% for student in students %}
            <li>{{ student }}</li>
        {% endfor %}
    </ul>

        <ul class="record_actions">
    <li>
        <a href="{{ path('course') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('course_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
