{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Course</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ entity.level }}</td>
            </tr>
            <tr>
                <th>Num of classes</th>
                <td>{{ entity.numOfClasses }}</td>
            </tr>
            <tr>
                <th>Num of classes left</th>
                <td>{{ entity.numOfClassesLeft }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('course') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('course_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
