{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Welcome {{ student }}!</h1>

    <h2>{{ course }}:</h2>
    <h2>Classes left: {{ course.numOfClassesLeft }}</h2>

    <table>
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        {% for class in classes %}
            <tr>
                <td>{{ class.date|date("d-m-Y") }}{{ " " }}{{ class.subject }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}