{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Select</h1>

    {#{{ form(edit_form) }}#}

    <ul class="record_actions">
        <li>
            <a href="{{ path('students') }}">
                Students
            </a>
        </li>
        <li>
            <a href="{{ path('teachers') }}">
                Teachers
            </a>
        </li>
        <li>
            <a href="{{ path('course') }}">
                Courses
            </a>
        </li>
        {#<li>{{ form(delete_form) }}</li>#}
    </ul>
{% endblock %}